<!DOCTYPE html>
<html>
<head>
    <title>Imitate Tail in Node</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<form action="/" onSubmit="">
    <input type="number" placeholder="no of lines" name="n"/>
    <input type="submit">
</form>
<h1>FileName : <%= fileName %></h1>
<div class="terminal">
    <div id="terminal-header">
        <div class="btn close"></div>
        <div class="btn minimise"></div>
        <div class="btn zoom"></div>
    </div>
    <div id="terminal-screen"></div>
</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  const socket = io();
  socket.on('file-changed', (fileData) => document.getElementById('terminal-screen').innerHTML = '<ul><li>' + fileData.join('</li><li>') + '</li></ul>');
</script>
</html>
