<!DOCTYPE html>
<html>
  <head>
    <title>Imitate Tail in Node</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>File : <%= fileName %></h1>
    <% for (var i=0; i< lines.length; i++) {%>
      <%= lines[i]%><br/>
    <% }%>
  </body>
</html>
