<!DOCTYPE html>
<html>
<head>
    <title>Imitate Tail in Node</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div>
    <h3 style="float: left">File Name : <%= fileName %></h3>
    <form action="/" onsubmit=handleOnSubmit() class="line-form">
        <input type="number" placeholder="no of lines" name="n"/>
        <input type="submit">
    </form>
</div>
<div class="terminal">
    <div id="terminal-header">
        <div class="btn close"></div>
        <div class="btn minimise"></div>
        <div class="btn zoom"></div>
    </div>
    <div id="terminal-screen"></div>
</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  const socket = io();
  socket.on('file-changed', (fileData) => document.getElementById('terminal-screen').innerHTML = '<ul><li>' + fileData.join('</li><li>') + '</li></ul>');

  function handleOnSubmit() {
    event.preventDefault();
    let lines = event.target['n'].value;

    socket.emit('get-updated', {lines})
  }
</script>
</html>
